.Sidebar {
    position: relative;
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    background: var(--inverted-bg-color);
    transition: width 0.3s;
}

.switchers {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.collapseButton {
    position: absolute;
    right: -32px;
    bottom: 32px;
}

.routes {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 20px;
}

.route {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 30px;

    &__icon {
        width: 20px;
        height: 20px;
        fill: var(--inverted-primary-color);
    }

    &__link {
        opacity: 1;
    }
}

.Sidebar.collapsed {
    width: var(--sidebar-width-collapsed);

    .switchers {
        flex-direction: column;
        align-items: center;
    }

    .route__link {
        opacity: 0;
        transition: 0.2s opacity;
        width: 0;
    }
}
