.item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 30px;

    &__icon {
        width: 20px;
        height: 20px;
        fill: var(--inverted-primary-color);
    }

    &__link {
        opacity: 1;
    }
}

.item.collapsed {
    .item__link {
        opacity: 0;
        transition: 0.2s opacity;
        width: 0;
    }
}
